@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap");
:root {
  --golden: #debf8e;
  --darkGreen: #49513e;
  --olive: #667054;
  --green: #8c9876;
  --beige: #f8f3db;
}
* {
  margin: 0;
  cursor: default;
}
h1,
h3,
h4,
a,
button {
  font-family: "Playfair Display", serif;
}
button {
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--beige);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
